input{
  box-sizing: border-box;
  border: none;
  line-height: 3vh;
  border-radius: 5px;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.47);
  outline: none;
  &:focus{
    border: 1px solid rgba(255, 105, 180, 0.73);
  }
  color: gray;
}
.text-field_floating {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.text-field_floating .text-field__input  {
  position: relative;
  width: 90%;
  line-height: 2.5rem;
  font-size: large;
  padding-left:1.1rem ;
  color: #ea8a9a;
}
.text-field_floating .text-field__label {
  position: absolute;
  top: -1.2vh;
  left: 1vw;
  height: 100%;
  padding: 1rem .75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity .15s ease-in-out, transform .15s ease-in-out;
}
.text-field_floating .text-field__input::-moz-placeholder {
  color: transparent;
}
.text-field_floating .text-field__input::placeholder {
  color: transparent;
}
.text-field_floating .text-field__input:focus,
.text-field_floating .text-field__input:not(:placeholder-shown) {
  padding-top: 8px;
}
.text-field_floating .text-field__input:focus~.text-field__label,
.text-field_floating .text-field__input:not(:placeholder-shown)~.text-field__label {
  opacity: .85;
  transform: scale(.85) translateY(-.15rem) translateX(.15rem);
}
input[type='date']::-webkit-datetime-edit-fields-wrapper{
  position: absolute;
  top: 0.3rem;
  z-index: 100;

}
input[type='date']::-webkit-calendar-picker-indicator{
  position: relative;
  width: 100%;
  z-index: 0;
  height: 3vh;
  opacity: 0;
}