input,textarea{
  box-sizing: border-box;
  border: none;
  line-height: 3vh;
  border-radius: 5px;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.47);
  outline: none;
  &:focus{
    border: 1px solid rgba(255, 105, 180, 0.73);
  }
  color: gray;
}
.form-title{
  display: flex;
  padding: 1.4vh 0;
  font-size: 1.4rem;
}
.input-data{
  display: none;
}
.label-data{
  width: 100%;
  background-color: orange;
}
.form-send{
  width:85%;
  display: flex;
  justify-content: center;
  border: 2px solid pink ;
  padding: 0.8rem 0;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 2px;
  font-size: large;
  background: none;
  color: inherit;
  &:hover{
    color: white;
    background: rgba(255, 192, 203, 0.73);
  }
}
@media (max-width: 450px) {
  .form-title{
    font-size: 1.2rem;
  }
}
.message{
  line-height: 10vh;
}
::placeholder {
  font-size: 1.05em;
  font-family: "Times New Roman";
}

.text-field_floating {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.text-field_floating .text-field__input {
  position: relative;
  width: 90%;
  line-height: 2.5rem;
  font-size: large;
  padding-left:1rem ;
  color: #ea8a9a;
  font-family: "Times New Roman";

}
.text-field_floating .text-field__label {
  position: absolute;
  top: -1.2vh;
  left: 1vw;
  height: 100%;
  padding: 1rem .75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity .15s ease-in-out, transform .15s ease-in-out;
}
.text-field_floating .text-field__input::-moz-placeholder {
  color: transparent;
}
.text-field_floating .text-field__input::placeholder {
  color: transparent;
}
.text-field_floating .text-field__input:focus,
.text-field_floating .text-field__input:not(:placeholder-shown) {
  padding-top: 8px;
}
.text-field_floating .text-field__input:focus~.text-field__label,
.text-field_floating .text-field__input:not(:placeholder-shown)~.text-field__label {
  opacity: .85;
  transform: scale(.85) translateY(-.15rem) translateX(.15rem);
}
#root > div > div > form > div:nth-child(4) > input::-webkit-datetime-edit-fields-wrapper{
  position: absolute;
  top: 0.3rem;
  z-index: 100;

}
#root > div > div > form > div:nth-child(4) > input::-webkit-calendar-picker-indicator{
  position: relative;
  width: 100%;
  z-index: 0;
  height: 3vh;
  opacity: 0;
}