textarea{
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.47);
  outline: none;
  overflow: auto;
}
.text-field__textarea  {
  position: relative;
  width: 90%;
  line-height: 1rem;
  font-size: large;
  padding-top: 1.2rem;
  padding-left:1rem ;
  color: #ea8a9a;
  &:focus{
    border: 1px solid pink;
  }
}
.text-field__label__textarea{
  position: absolute;
  background-color: linear-gradient(to top left, powderblue, pink);
  padding-left: 2rem;
  width: 90%;
  pointer-events: none;
}
@media (max-width: 450px) {
  .text-field__textarea {
    line-height: 0.5rem;
  }
}
