@import './all';
*{
  font-family: "Times New Roman";
}
.wrapper{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top left, powderblue, pink);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1250px) {
  .form-wrapper{
    min-width: 25%;
  }
}
@media (max-width: 1000px) {
  .form-wrapper{
    min-width: 40%;
  }
}
@media (max-width: 1000px) {
  .form-wrapper{
    min-width: 35%;
  }
}
@media (max-width: 600px) {
  .form-wrapper{
    min-width: 60%;
  }
}
